#landing {
  position: relative;
  background: url('images/BBB Background.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; 
}

.text-center {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  position: relative; /* Ensure the text is positioned relative to its container */
  z-index: 3; /* Place the text above the fog */
}

@keyframes fogAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

#landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Adjusted width to cover the entire viewport */
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 50%);
  animation: fogAnimation 10s linear infinite;
  z-index: 2; /* Place the fog above the background image */
  pointer-events: none; /* Ensure the fog layer doesn't interfere with user interactions */
}

.btn-dark-forest {
  background-color: #2ecc71; /* Green */
  border-color: #27ae60; /* Darker Green */
  color: #fff; /* White text */
}

.btn-dark-forest:hover {
  background-color: #27ae60; /* Darker Green on hover */
  border-color: #27ae60; /* Darker Green on hover */
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

.nav-link:hover {
  text-decoration: underline;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.logo-text {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}
